@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
.font-sarabun{
    font-family: 'Sarabun', sans-serif;
}
h1{
	font-family: 'Sarabun', sans-serif;
}


/**
 * Recipe Categories
 */

.recipe-categories {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}

.recipe-category {
	position: relative;
	overflow: hidden;
	flex: 0 0 calc(100% - 20px);
	max-width: calc(100% - 20px);
	margin: 10px;
	height: 80px;
	background-size: cover;
	background-position: center center;
	border-radius: 250px;
	transition: all 0.5s cubic-bezier(.02, .01, .5, 1);
}

.recipe-category::after {
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(0,0,0,0.2);
}

.recipe-category-inner {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 10px;
	z-index: 2;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
}


.recipe-category-icon {
	width: 40px;
	height: 40px;
	margin: 0;
	display: flex;
	justify-content: center;
	text-align: center;
	border-radius: 100%;
	background-color: #FFF;
	padding: 8px;
	margin-right: 10px;
	color: #000;
	transition: transform .5s ease-out;
}

.recipe-category:hover .recipe-category-icon {
	transform: rotate(360deg);
}

.recipe-category-info {
	color: #FFF;
	font-size: 18px;
	text-align: center;
}

@media (min-width: 768px) {

	.recipe-category {
		flex: 0 0 calc(50% - 20px);
		max-width: calc(50% - 20px);
	}

}


@media (min-width: 992px) {

	.recipe-category {
		flex: 0 0 60px;
		max-width: 60px;
		height: 300px;
		margin: 15px;
		background-size: auto 105%;
		background-position: center;
		border-radius: 30px;
	}

	.recipe-category:hover {
		flex: 0 0 250px;
		max-width: 250px;
		background-size: auto 100%;
		border-radius: 10px;
	}

	.recipe-category-inner {
		width: auto;
		height: auto;
		left: 0;
		top: auto;
		bottom: 0;
		writing-mode: vertical-rl;
		text-orientation: mixed;
		transform: rotate(180deg);
	}

	.recipe-category:hover .recipe-category-inner {
		writing-mode: horizontal-tb;
		transform: rotate(0);
	}

	.recipe-category:not(:hover) .recipe-category-icon {
		width: 40px;
		height: 40px;
		margin-right: 0;
		margin-bottom: 10px;
		transform: rotate(180deg);
	}

	.recipe-category::after {
		background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 70%, rgba(0,0,0,0.8)) 100%;
		background: -o-linear-gradient(to bottom, rgba(0,0,0,0) 70%, rgba(0,0,0,0.8)) 100%;
		background: linear-gradient(to bottom, rgba(0,0,0,0) 70%, rgba(0,0,0,0.8)) 100%;
	}

}

.recipe-items .card img,
.rotating {
	transform: rotate(0deg);
	transition: transform 1.5s linear;
}

.recipe-items .card:hover img,
.rotating:hover {
	transform: rotate(360deg);
	transition: transform 20s linear;
}

.recipe-items .row  {
	border-top: 1px solid #EEE;
	margin-top: -1px;
	margin-bottom: -1px;
}

.recipe-items .row [class^=col-] {
	border-right: 1px solid #EEE;
	border-bottom: 1px solid #EEE;
}

.recipe-items .card {
	border: 0;
	background: transparent;
	border-radius: 0;
	padding: 20px 10px;
}

.recipe-items .card-author {
	font-size: 12px;
	font-weight: 400;
	color: #AAA;
	margin-bottom: 0;
}

.recipe-items .card-title {
	font-size: 18px;
	line-height: 1.3;
}
.recipe-items .card-author a {
	color: #999;
	text-transform: uppercase;
	margin-left: 2px;
	font-weight: 600;
}

.recipe-items .card-title a { color: #222; }

.recipe-items .card-date {
	margin-top: 15px;
	color: #555;
	margin-bottom: 0;
	font-weight: 400;
}

.recipe-items .card-date i { margin-right: 6px; }